.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 0.5rem;
  grid-column-gap: 2.5rem;
  align-items: start;

  &__icon {
    transform: translateY(-1.5rem);
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
  }
  &__text {
    font-size: 1.7rem;
    grid-column: 2 / -1;
  }
}
